$statusWidth = 40px
$paddingWidth = 0.5rem
$errorColour = #cc3333

clearfix()
    &:before, &:after
        content: " "
        display: table

    &:after
        clear: both

*
    box-sizing: border-box

@font-face
    font-family: 'icons'
    src: url('icons.woff') format('woff')
    font-weight: normal
    font-style: normal

html, body
    margin: 0
    padding: 0
    background: linear-gradient(#ddd, #ccc)
    font-family: 'Open Sans', sans-serif

#taskContainer
    padding: 0
    margin: 0
    list-style: none

    li
        clear: both
        border-bottom: 1px solid rgba(#000, 0.3)
        box-shadow: 0 1px 0 rgba(#fff, 0.4)
        position: relative
        clearfix()

        &.hasError
            background: #eee

    h1
        font-weight: 300
        font-size: 1rem
        line-height: 2
        margin: 0

.status
    float: left
    width: $statusWidth
    height: $statusWidth
    margin-right: $paddingWidth
    background: #999
    color: rgba(255,255,255,0.8)
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
    font-family: icons
    font-size: 1.5rem
    font-weight: bold
    line-height: $statusWidth
    text-align: center
    transition: background 0.2s

    &.ok
        background: #8cba7b

        div
            -webkit-animation: pulse 0.5s

        div:before
            content: '√'

    &.error
        background: $errorColour

        div
            -webkit-animation: pulse 0.5s

        div:before
            content: 'X'

    &.running
        background: #cccf49

        div
            -webkit-animation: rotate 1.5s infinite linear

        div:before
            content: 'r'

.errorMsg:not(:empty)
    float: right
    width: 100%
    padding: $paddingWidth
    white-space: pre
    font-family: monospace
    font-size: 0.8rem
    color: $errorColour
    overflow: auto

    .metadata
        position: absolute
        right: 0
        top: 0
        padding: $paddingWidth
        opacity: 0.1
        color: #555
        pointer-events: none
        line-height: 0.8

        b
            display: block

            &.outputType
                font-size: 2em
            &.returnCode
                font-size: 1.5em

@-webkit-keyframes rotate
    0%
        -webkit-transform: rotate(0deg)
    100%
        -webkit-transform: rotate(360deg)

@-webkit-keyframes pulse
    0%
        -webkit-transform: scale(1)

    50%
        -webkit-transform: scale(2)

    100%
        -webkit-transform: scale(1)
