* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'icons';
  src: url("icons.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#ddd, #ccc);
  font-family: 'Open Sans', sans-serif;
}
#taskContainer {
  padding: 0;
  margin: 0;
  list-style: none;
}
#taskContainer li {
  clear: both;
  border-bottom: 1px solid rgba(0,0,0,0.30);
  box-shadow: 0 1px 0 rgba(255,255,255,0.40);
  position: relative;
}
#taskContainer li:before,
#taskContainer li:after {
  content: " ";
  display: table;
}
#taskContainer li:after {
  clear: both;
}
#taskContainer h1 {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2;
  margin: 0 0 0.5rem;
}
.status {
  float: left;
  width: 100px;
  height: 100px;
  padding: 35px 0;
  margin-right: 10px;
  background: #999;
  color: rgba(255,255,255,0.80);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.40);
  font-family: icons;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  transition: background 0.2s;
}
.status.ok {
  background: #8cba7b;
}
.status.ok div {
  -webkit-animation: pulse 0.5s;
}
.status.ok div:before {
  content: '√';
}
.status.error {
  background: #f00;
}
.status.error div {
  -webkit-animation: pulse 0.5s;
}
.status.error div:before {
  content: 'X';
}
.status.running {
  background: #cccf49;
}
.status.running div {
  -webkit-animation: rotate 1.5s infinite linear;
}
.status.running div:before {
  content: 'r';
}
.errorMsg:not(:empty) {
  font-family: monospace;
  font-size: 12px;
  white-space: pre;
  color: #733;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255,255,255,0.40);
  height: -webkit-calc(80%);
  width: 380px;
  overflow: auto;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  50% {
    -webkit-transform: scale(2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
