*
    box-sizing: border-box

@font-face
    font-family: 'icons'
    src: url('icons.woff') format('woff')
    font-weight: normal
    font-style: normal

html, body
    margin: 0
    padding: 0
    background: linear-gradient(#ddd, #ccc)

#taskContainer
    padding: 0
    margin: 0
    list-style: none

.status
    float: left
    width: 100px
    height: 100px
    padding: 35px 0
    background: #999
    color: rgba(255,255,255,0.8)
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
    font-family: icons
    font-size: 30px
    font-weight: bold
    text-align: center
    transition: background 0.2s

    &.ok
        background: #8cba7b

        div
            -webkit-animation: pulse 0.5s

        div:before
            content: '√'

    &.error
        background: red

        div
            -webkit-animation: pulse 0.5s

        div:before
            content: 'X'

    &.running
        background: #cccf49

        div
            -webkit-animation: rotate 1.5s infinite linear

        div:before
            content: 'r'


@-webkit-keyframes rotate
    0%
        -webkit-transform: rotate(0deg)
    100%
        -webkit-transform: rotate(360deg)

@-webkit-keyframes pulse
    0%
        -webkit-transform: scale(1)

    50%
        -webkit-transform: scale(2)

    100%
        -webkit-transform: scale(1)
