@font-face {
  font-family: 'Open Sans2';
  font-weight: 300;
  src: url("OpenSans-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans2';
  font-weight: normal;
  src: url("OpenSans-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'icons';
  src: url("icons.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#ddd, #ccc);
  font-family: 'Open Sans2', sans-serif;
  color: #222;
}
#taskContainer {
  padding: 0;
  margin: 0;
  list-style: none;
}
#taskContainer li {
  clear: both;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 1px 0 rgba(255,255,255,0.4);
  position: relative;
}
#taskContainer li:before,
#taskContainer li:after {
  content: " ";
  display: table;
}
#taskContainer li:after {
  clear: both;
}
#taskContainer li.error {
  background: #eee;
}
#taskContainer h1 {
  font-weight: 300;
  font-size: 1rem;
  line-height: 2rem;
  margin: 0;
  display: inline;
  margin-right: 20px;
}
.timestamp {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 2rem;
  float: right;
  padding-right: 0.5rem;
}
.ok .timestamp {
  -webkit-animation: lightenColor 30s forwards;
}
.status {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
  background: #999;
  color: rgba(255,255,255,0.8);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  font-family: icons;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}
.ok .status {
  background: #8cba7b;
}
.ok .status div {
  -webkit-animation: pulse 0.5s;
}
.ok .status div:before {
  content: '√';
}
.error .status {
  background: #c33;
}
.error .status div {
  -webkit-animation: pulse 0.5s;
}
.error .status div:before {
  content: 'X';
}
.running .status {
  background: #cccf49;
}
.running .status div {
  -webkit-animation: rotate 1.5s infinite linear;
}
.running .status div:before {
  content: 'r';
}
.daemon.running .status {
  background: #8cba7b;
}
.daemon.running .status div {
  -webkit-animation: none;
}
.daemon.running .status div:before {
  content: 'D';
}
.errorMsg:not(:empty) {
  float: right;
  width: 100%;
  padding: 0.5rem;
  white-space: pre;
  font-family: monospace;
  font-size: 0.85rem;
  color: #c33;
  overflow: auto;
}
.metadata {
  margin-top: -0.2rem;
  font-size: 0.75rem;
  line-height: 1;
  color: #999;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  50% {
    -webkit-transform: scale(2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes lightenColor {
  0% {
    color: #222;
  }

  100% {
    color: #a7a7a7;
  }
}
