$statusWidth = 40px
$paddingWidth = 0.5rem
$errorColour = #cc3333
$textColour = #222
$defaultFont = 'Open Sans2'

@font-face
    font-family: $defaultFont
    font-weight: 300
    src: url('OpenSans-Light.ttf') format('truetype')
@font-face
    font-family: $defaultFont
    font-weight: normal
    src: url('OpenSans-Regular.ttf') format('truetype')

@font-face
    font-family: 'icons'
    src: url('icons.woff') format('woff')
    font-weight: normal
    font-style: normal


clearfix()
    &:before, &:after
        content: " "
        display: table

    &:after
        clear: both

*
    box-sizing: border-box

html, body
    margin: 0
    padding: 0
    background: linear-gradient(#ddd, #ccc)
    font-family: $defaultFont, sans-serif
    color: $textColour

#taskContainer
    padding: 0
    margin: 0
    list-style: none

    li
        clear: both
        border-bottom: 1px solid rgba(#000, 0.3)
        box-shadow: 0 1px 0 rgba(#fff, 0.4)
        position: relative
        clearfix()

        &.error
            background: #eee

    h1
        font-weight: 300
        font-size: 1rem
        line-height: 2rem
        margin: 0
        display: inline
        margin-right: 20px

.timestamp
    font-weight: 300
    font-size: 0.8rem
    line-height: 2rem
    float: right
    padding-right: 0.5rem

    .ok &
        // Gradually fade out timestamp as task gets stale
        -webkit-animation: lightenColor 30s forwards

.status
    float: left
    width: $statusWidth
    height: $statusWidth
    margin-right: $paddingWidth
    background: #999
    color: rgba(255,255,255,0.8)
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
    font-family: icons
    font-size: 1.5rem
    font-weight: bold
    line-height: $statusWidth
    text-align: center

    .ok &
        background: #8cba7b

        div
            -webkit-animation: pulse 0.5s

        div:before
            content: '√'

    .error &
        background: $errorColour

        div
            -webkit-animation: pulse 0.5s

        div:before
            content: 'X'

    .running &
        background: #cccf49

        div
            -webkit-animation: rotate 1.5s infinite linear

        div:before
            content: 'r'

    .daemon.running &
        background: #8cba7b

        div
            -webkit-animation: none

        div:before
            content: 'D'

.errorMsg:not(:empty)
    float: right
    width: 100%
    padding: $paddingWidth
    white-space: pre
    font-family: monospace
    font-size: 0.85rem
    color: $errorColour
    overflow: auto

.metadata
    margin-top: -0.2rem
    font-size: 0.75rem
    line-height: 1
    color: #999

@-webkit-keyframes rotate
    0%
        -webkit-transform: rotate(0deg)
    100%
        -webkit-transform: rotate(360deg)

@-webkit-keyframes pulse
    0%
        -webkit-transform: scale(1)

    50%
        -webkit-transform: scale(2)

    100%
        -webkit-transform: scale(1)

@-webkit-keyframes lightenColor
    0%
        color: $textColour
    100%
        color: lighten($textColour, 60%)
